cat > .gitignore << 'EOF'
.venv/
chroma_db/
books/
C:\Users\Nurzhan\.streamlit\
UsersNurzhan.streamlitsecrets.toml
*.json
*.ipynb
*.pdf
main.py
main_copy.py
test.ipynb
__pycache__/
.env
.streamlit/secrets.toml
ocr_cache/
EOF
ingest_pdf_ocr.py
test_ocr.py
upload_to_cloud.py
